.navbar-container {
    background-color: var(--primary-color);
}



.NavLink {
    text-decoration: none;
    color:var(--primary-background);
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}

.NavLink:hover {
    color: var(--terciary-hover);
}