
ul {
  list-style: none;
  display: flex;
  padding: 15px;
  justify-content: space-around;
  margin: 0;
}

li {
  margin: 0;
}

.container {
  background-color: var(--secondary-background);
  width: 60%;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: var(--primary-shadow);
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: var(--primary-color);
  border-radius: 6px;
}

.input:hover {
  background-color: var(--primary-hover);
}